{% extends "pollynesia_site/base.html" %}

{% block page_content %}
    {% if latest_question_list %}
        <table class='table table-hover'>
            {% for question in latest_question_list %}
                    <tr class="table-row" data-href="{% url 'polls:detail' question.id %}">
                        <td>{{ question.question_text }}</td>
                        <td>{{ question.pub_date }}</td>
                    </tr>
            {% endfor %}
        </table>
    {% else %}
    <p>No polls are available.</p>
    {% endif %}
{% endblock %}