{% extends "pollynesia_site/base.html" %}

{% block content %}
    {% if latest_poll_list %}
        <table class='table table-hover'>
            {% for poll in latest_poll_list %}
                    <tr class="table-row" data-href="{% url 'polls:detail' poll.id %}">
                        <td>{{ poll.title }}</td>
                        <td>{{ poll.pub_date|date:"F d, Y" }}</td>
                        <td>{% if poll.is_open %}Open {% else %} Closed {% endif %}</td>
                    </tr>
            {% endfor %}
        </table>
    {% else %}
    <p>No polls are available.</p>
    {% endif %}
{% endblock %}