{% extends "pollynesia_site/base.html" %}

{% block content %}
    <h1 class="mb-3">Posts by {{view.kwargs.username }} ({{ page_obj.paginator.count }})</h1>
    {% if polls %}
        <table class='table table-hover'>
            {% for poll in polls %}
                    <tr class="table-row" data-href="{% url 'polls:detail' poll.id %}">
                        <td><a href="{% url 'polls:user_polls' poll.user.username %}">{{ poll.user }}</a></td>
                        <td>{{ poll.title }}</td>
                        <td>{{ poll.pub_date|date:"F d, Y" }}</td>
                        <td>{% if poll.is_open %}Open {% else %} Closed {% endif %}</td>
                    </tr>
            {% endfor %}
        </table>
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}

        {% endif %}
    {% else %}
    <p>No polls are available.</p>
    {% endif %}
{% endblock %}